* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}
.container {
  width: 80%;
  margin: auto;
}

.clear {
  clear: both;
}

.header {
  background-color: white;
  padding: 10px 200px;
  box-sizing: border-box;
  z-index: 10;
  width: 100%;
}
.header .logo {
  font-size: 44px;
  font-weight: bolder;
  text-decoration: none;
  position: relative;
  right: -52px;
  color: black;
}
.header .logo i {
  font-size: 20px;
  color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(0, 33, 70);
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: -52px;
}

.header .navbar {
  margin-top: 20px;
}

.header .navbar a {
  font-size: 17px;
  color: rgb(48, 53, 64);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
}

.header .navbar a:hover {
  color: #d3c615;
}
.carousel {
  background-image: url(../images/2.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.service {
  padding-top: 80px;
}
.service-title {
  float: left;
  width: 50%;
  text-align: start;
  color: gray;
  box-sizing: border-box;
  line-height: 2;
}
.service-title h1 {
  font-size: 40px;
  color: rgb(29, 39, 48);
  font-weight: revert;
}
.service-title p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 2;
}
 button {
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
  padding: 14px 40px;
  background-color: #ffc200;
  border: none;
  border-radius: 4px;
  color: rgb(0, 33, 70);
}
 button:hover {
  color: red;
  background-color: aqua;
}
.service-img {
  height: 450px;
}
.number {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding: 60px 20px;
}
.number-item {
  float: left;
  width: 25%;
  position: relative;
}
.number-item p {
  font-size: 60px;
  font-weight: bold;
}
.number-item span {
    position: absolute;
    font-size: 20px;
    top: 11px;
    left: 68px;
}
.contact{
    padding: 100px 0;
}
.contact-item{
    height: 170px;
    text-align: center;
    margin-bottom: 40px;
    float: left;
    width: 25%;
    padding:0 20px;
    box-sizing: border-box;
}
.item-title{
    background-color: rgb(0, 33, 70) ;
    padding:50px 70px;
    color: white;
    font-size: 24px;
    
    border-radius: 10px;
}
.item-title i{
    font-size: 45px;
    margin-bottom: 10px;
}
.post{
    background-color:#f6f6f6;
    padding: 100px 0;
}
.post-title{
    width: 50%;
    float: left;
}
.post-title h1{
  font-size: 50px;
  font-weight: bold;
}
.post-list{
    width: 80%;
    background-color: white;
    margin: 25px 25px 0 0;
    box-sizing: border-box;
}
.post-item-title{
    width: 50%;
    float: left;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 40px;
}
hr{
    margin-top: 25px;
    text-align: center;
    color:gray;
}
.post-item-title p:first-of-type{
    color: rgb(167, 161, 161);
    padding: 10px 0;
    font-size: 17px;
}
.post-item-title p:last-of-type{
    color: rgb(92, 89, 89);
    font-size: 17px;
}
.post-item-img{
    width: 180px;
}
.post button{
    margin-left: 460px;
}
.post-item-event{
  width: 80%;
  background-color: #ffffff;
  margin: 25px 25px 0 0;
}
.calendar{
  width: 25%;
  text-align: center;
  margin-top: 10px;
}
.post-item-event-title{
  width: 60%;
  margin-top: 10px;
}
.day{
  background-color: #ffc200;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.day p:first-of-type{
  font-size: 40px;
  color:black;
  font-weight: bold;
}
.day p:last-of-type{
  font-size: 20px;
  color:black;
  padding-bottom: 3px;
}
.year{
  background-color: rgb(0, 33, 70);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.year p:last-of-type{
  color:white;
  font-size:24px;
}
.post-item-event-title p:last-of-type{
  padding-top: 10px;
  color:rgb(0, 33, 70);
}
.post-item-event-title p:last-of-type span{
  border-left: 1px solid gray;
  padding-left: 10px;
}
.footer{
  background-color: rgb(0, 33, 70);
  color:white;
}
.footer hr{
  margin: 20px 0;
}
.footer p{
  padding: 10px 0 60px;
}
.footer p span{
  border-left: 1px solid gray;
  padding-left: 5px;
}
.footer-info{
  padding: 80px 0 40px;
}
.info-contact{
  box-sizing: border-box;
  float: left;
  width: 30%;
}
.info-contact h2{
  padding: 20px 0;
}
  .info-contact ul{
    list-style: none;
  }
  .info-contact ul li{
    padding: 8px 0;
  }

.info-contact:nth-child(1) i{
  padding-right: 10px;
}
.info-contact:nth-child(3){
  padding-left: 200px;
}
.info-contact-about{
  box-sizing: border-box;
  float: left;
  width: 15%;
}
.info-contact ul a{
  text-decoration: none;
  color:white;
}
.info-contact ul a:hover{
  color:#d3c615;
}